.title {
  width: 100%;
  background-color: antiquewhite;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
    font-weight: bold;
    font-family: "Calibri Light", serif;
    margin: 0;
  }
}

.listeNav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  &:hover {
    background-color: #e0e0e0;
  }
}

.bandeau {
  background-color: bisque;
}

.dropDownMenu {
  display: flex;
  position: relative;
  flex-direction: column;
  .dropDownItems {
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;

    .itemList {
      display: none;
      height: 40px;
      place-items: center;
      text-decoration: none;
      color: #333;

      &:nth-child(2n+1) {
        background-color: darkseagreen;
      }
      &:nth-child(2n) {
        background-color: aliceblue;
      }
    }
  }
}

.dropDownMenu:hover .itemList {
  display: grid;
  &:hover {
    background-color: aquamarine;
  }
}